<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysmork.blog.dao.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ysmork.blog.entity.SysRole">
        <id column="id" property="id" />
        <result column="role_name" property="roleName" />
        <result column="role_key" property="roleKey" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_name, role_key, status, remark, create_time, update_time
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Column_List">
        role.id, role.role_name, role.role_key, role.status, role.remark, role.create_time, role.update_time
    </sql>
    <select id="selectByUserId" resultMap="BaseResultMap">
        SELECT <include refid="Column_List"/>
        FROM sys_role role
        LEFT JOIN sys_user_role_menu rel ON rel.role_id = role.id
        LEFT JOIN sys_user users ON users.id = rel.user_id
        WHERE users.id = #{userId}
        limit 1
    </select>

</mapper>
